

.btn
{
    background: #ffffff;
    border: 1px solid #909090;
    color: #575757;
    border-radius: 0px;
}


.btn:hover
{
    color: #000000;
    border: 1px solid #00ddff;
    text-decoration: none;
}

.btn:active
{
    color: #000000;
    border: 1px solid #00ddff;
    background: #00ddff;
    text-decoration: none;
}